[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
User=spc
ExecStart=java -jar /usr/share/spc/spring-petclinic-3.2.0-SNAPSHOT.jar SuccessExitStatus=143 

[Install] 
WantedBy=multi-user.target